[Unit]
Description=OpenVPN client for %i
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/openvpn --config /etc/openvpn/client/%i.ovpn
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
